In [45]:
#55 Pandas安装与Series结构
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
obj = Series([4, 5, 6, -7])
print(obj)

0    4
1    5
2    6
3   -7
dtype: int64

In [4]:
print(obj.index)
print(obj.values)

RangeIndex(start=0, stop=4, step=1)
[ 4  5  6 -7]

In [5]:
#56 Series的基本操作

obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'c', 'a'])
print(obj2)

d    4
b    7
c   -5
a    3
dtype: int64

In [6]:
obj2['c'] = 6
print(obj2)

d    4
b    7
c    6
a    3
dtype: int64

In [7]:
print('f' in obj2)

False

In [9]:
sdata = {'beijing':35000, 'shanghai':71000, 'guangzhou':16000}#定义一个字典
obj3 = Series(sdata)
print(obj3)

beijing      35000
shanghai     71000
guangzhou    16000
dtype: int64

In [10]:
obj3.index = ['bj', 'sh', 'gz']
print(obj3)

bj    35000
sh    71000
gz    16000
dtype: int64

In [16]:
#57 Dataframe的基本操作

data = {'city':['shanghai', 'shanghai', 'shanghai', 'beijing', 'beijing'],
        'year':[2016, 2017, 2018, 2017, 2018],
        'pop':[1.5, 1.7, 3.6, 2.4, 2.9]
       }


frame = DataFrame(data)

print(frame)

       city  year  pop
0  shanghai  2016  1.5
1  shanghai  2017  1.7
2  shanghai  2018  3.6
3   beijing  2017  2.4
4   beijing  2018  2.9

In [17]:
frame2 = DataFrame(data, columns=['year', 'city', 'pop'])#根据year排序，再根据city排序，再根据pop排序
print(frame2)

   year      city  pop
0  2016  shanghai  1.5
1  2017  shanghai  1.7
2  2018  shanghai  3.6
3  2017   beijing  2.4
4  2018   beijing  2.9

In [18]:
print(frame2['city'])
print(frame2.year)

0    shanghai
1    shanghai
2    shanghai
3     beijing
4     beijing
Name: city, dtype: object
0    2016
1    2017
2    2018
3    2017
4    2018
Name: year, dtype: int64

In [19]:
frame2['cap'] = frame2.city == 'beijing'#判断字符串是否相等
print(frame2)

   year      city  pop    cap
0  2016  shanghai  1.5  False
1  2017  shanghai  1.7  False
2  2018  shanghai  3.6  False
3  2017   beijing  2.4   True
4  2018   beijing  2.9   True

In [20]:
pop = {'beijing':{2008:1.5, 2009:2.0},
       'sahnghai':{2008:2.0, 2009:3.6}
      }
frame3 = DataFrame(pop)
print(frame3)

      beijing  sahnghai
2008      1.5       2.0
2009      2.0       3.6

In [21]:
print(frame3.T)

          2008  2009
beijing    1.5   2.0
sahnghai   2.0   3.6

In [22]:
obj4 = Series([4.5, 7.2, -5.3, 3.6], index=['b', 'd', 'c', 'a'])
obj5 = obj4.reindex(['a', 'b', 'c', 'd', 'e'])
print(obj5)

a    3.6
b    4.5
c   -5.3
d    7.2
e    NaN
dtype: float64

In [23]:
obj5 = obj4.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)
print(obj5)

a    3.6
b    4.5
c   -5.3
d    7.2
e    0.0
dtype: float64

In [26]:
obj6 = Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print(obj6.reindex(range(6), method='ffill'))#使用上面的内容进行填充

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [27]:
print(obj6.reindex(range(6), method='bfill'))#使用后面的内容进行填充

0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

In [29]:
from numpy import  nan as NA

In [31]:
data = Series([1, NA, 2])
print(data)
print(data.dropna())#删除缺失值

0    1.0
1    NaN
2    2.0
dtype: float64
0    1.0
2    2.0
dtype: float64

In [32]:
data = DataFrame([[1., 6.5, 3], [1, NA, NA], [NA, NA, NA]])
print(data)
print(data.dropna())#删除缺失值

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
     0    1    2
0  1.0  6.5  3.0

In [33]:
print(data.dropna(how='all'))#只删除整行为NA的

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN

In [42]:
data2 = DataFrame([[1., 6.5, 3], [1, NA, NA], [NA, NA, NA]])
data2[4] = NA
print(data2)
print(data2.dropna(axis=1, how='all'))#列
print(data2.dropna(axis=0, how='all'))#行

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN

In [43]:
data2.fillna(0)
print(data2.fillna(0))#这里只修改了副本
print(data2)

     0    1    2    4
0  1.0  6.5  3.0  0.0
1  1.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN

In [44]:
print(data2.fillna(0, inplace=True))#缺失值都填充为0
print(data2)

None
     0    1    2    4
0  1.0  6.5  3.0  0.0
1  1.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0

In [47]:
#58 层次化索引

data3 = Series(np.random.randn(10),
              index = [['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])
print(data3)

a  1   -0.904748
   2    0.243339
   3    1.390746
b  1   -0.769489
   2    1.111573
   3    0.170162
c  1    1.075815
   2    0.177903
d  2    0.034436
   3    0.052252
dtype: float64

In [48]:
print(data3['b'])

1   -0.769489
2    1.111573
3    0.170162
dtype: float64

In [49]:
print(data3['b':'c'])

b  1   -0.769489
   2    1.111573
   3    0.170162
c  1    1.075815
   2    0.177903
dtype: float64

In [51]:
print(data3.unstack())#转换为Dataframe类型
print(type(data3.unstack()))

          1         2         3
a -0.904748  0.243339  1.390746
b -0.769489  1.111573  0.170162
c  1.075815  0.177903       NaN
d       NaN  0.034436  0.052252
<class 'pandas.core.frame.DataFrame'>

In [52]:
print(data3.unstack().stack())#转换为Dataframe类型,再转换回来
print(type(data3.unstack().stack()))

a  1   -0.904748
   2    0.243339
   3    1.390746
b  1   -0.769489
   2    1.111573
   3    0.170162
c  1    1.075815
   2    0.177903
d  2    0.034436
   3    0.052252
dtype: float64
<class 'pandas.core.series.Series'>